<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TermProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <TermProject.Properties.Settings>
            <setting name="TermProject_HotelService_HotelService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Fall2014/CIS3342_tue55387/TermProjectWS/HotelService.asmx</value>
            </setting>
            <setting name="TermProject_CarService_CarWebService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Fall2014/CIS3342_tue50204/TermProjectWS/CarWebService.asmx</value>
            </setting>
            <setting name="TermProject_AirService_AirService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Fall2014/CIS3342_tuf01657/TermProjectWS/AirService.asmx</value>
            </setting>
            <setting name="TermProject_EventService_WS" serializeAs="String">
                <value>http://cis-iis2.temple.edu/fall2014/cis3342_tuc72616/TermProjectWS/WS.asmx</value>
            </setting>
        </TermProject.Properties.Settings>
    </applicationSettings>
</configuration>
